---
- name: exits loppback or np
  community.routeros.api_info:
    path: interface bridge
  register: lo
- name: Ceate loopback
  community.routeros.api_modify:
    path: interface bridge
    data:
     - name: "{{ bridge_name }}"
  when: bridge_name not in (lo.result | map(attribute='name') | list)
- name: exist ip address
  community.routeros.api_info:
    path: ip address
  register: ip
- name: Ensure IP address exists on loopback bridge
  community.routeros.api_modify:
    path: ip address
    data:
    - address: "{{ lo_ip }}"
      interface: "{{ bridge_name }}"
  when: lo_ip not in (ip.result | map(attribute='address') | list)
- name: enusre bgp instance
  community.routeros.api_info:
    path: routing bgp instance
  register: instances
- name: make bgp instance
  community.routeros.api:
    path: routing bgp instance
    cmd: add name={{ bgp_in.name }} as={{ bgp_in.as }}  router-id={{ bgp_in.id }} disabled=no
  when: bgp_in.name not in (instances.result | map(attribute='name') | list)
- name: show list
  community.routeros.api_info:
    path: ip firewall address-list
  register: add
- name: make list
  community.routeros.api_modify:
    path: ip firewall address-list
    data:
     - list: "{{ list }}"
       address: "{{ item }}"
  loop: "{{ ips }}"
  when: list not in (add.result | map(attribute='list') | list)
- name: get bgp connections
  community.routeros.api:
    path: routing bgp connection
    cmd: print
  register: conns
- name: sds
  debug:
    msg: "{{ conns }}"
- name: make bgp conns
  community.routeros.api:
    path: routing bgp connection
    cmd: add name={{ item.conn_name }} remote.address={{ item.remote_add }} local.role={{ item.role }}  remote.as={{ item.remote_as }} instance={{ bgp_in.name }} output.network={{ list }}
  loop: "{{ conn }}"
  when: item.conn_name not in (conns.msg | map(attribute='name') | list)
